.univFooter {
    background-color: var(--charcoal);
    color: var(--lightGray);
}

.footerForm input {
    border: 0.13rem solid var(--mutedGold);
    border-radius: 0.2rem;
    color: var(--charcoal);
    outline: none;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem ;
}

.footerForm input:focus {
    box-shadow: 0px 0px 10px 5px rgb(184, 161, 79, 0.5);
}

.footerForm textarea {
    border: 0.13rem solid var(--mutedGold);
    border-radius: 0.2rem;
    resize: none;
    color: var(--charcoal);
    outline: none;
    padding-left: 1rem;
}

.footerForm textarea:focus {
    box-shadow: 0px 0px 10px 5px rgb(184, 161, 79, 0.5);

}

.footerForm button {
    background-color: var(--mutedGold);
    color: var(--charcoal);
    border: 0.13rem solid var(--mutedGold);
    border-radius: 0.2rem;
}

.footerForm button:hover {
    background-color: var(--charcoal);
    color: var(--mutedGold);
    box-shadow: 0px 0px 10px 5px rgb(184, 161, 79, 0.5);
}

.verticalDivider {
    width: 2px;
    height: 100%;
    background-color: #b8a14f;
    margin: 0 20px;
}



@media (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: start;
    }

}