.postBody {
    background-image: url("../../../../images/biblioteca2.jpg");
    background-size: cover;
    min-height: 100vh;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.content {
    color: var(--charcoal);
}

@media (max-width: 768px) {
    .postBody {
        padding: 1rem 0;
    }
}