/* app/blog/blog.module.css */
.blogBody {
    background-image: url("../../images/biblioteca2.jpg");
    background-size: cover;
    min-height: 100vh;
    background-attachment: fixed;
}



.blogArticle {
    border-left: 8px outset var(--navyBlue);
    border-bottom: 8px outset var(--navyBlue);
}


/* Article text styles */
.blogArticle h6 {
    color: var(--lightCharcoal);
}

.blogArticle h1 {
    color: var(--charcoal);
}

.blogArticle p {
    color: var(--charcoal);
}

.blogArticle h1:hover {
    color: var(--navyBlue);
}
