body {
    background:
        /* Very subtle diagonal texture */
            repeating-linear-gradient(
                    45deg,
                    rgba(13, 23, 56, 0.02) 0px,
                    rgba(13, 23, 56, 0.02) 30px,
                    rgba(184, 159, 114, 0.02) 30px,
                    rgba(184, 159, 114, 0.02) 60px
            ),
                /* Base background color */
            #eeeeee; /* Slightly off-white */
    min-height: 100vh;
    padding: 3rem 0;
    display: flex;
    justify-content: center;
}

.logo-svg{
    width: 100%;
    height: auto;
}


.container{
    display: flex;
    justify-content: flex-start;

    background-color: #fafafa;
    width: 80%;
    box-shadow: 0 0 10px 5px rgba(13, 23, 56, 0.10);
}

hr{
    border: 2px solid var(--navyBlue);
}

article {
    border-left: 8px outset var(--navyBlue);
    border-bottom: 8px outset var(--navyBlue);

}

header h1,p{
    color: var(--navyBlue);
}

article h6{
    color: var(--lightCharcoal);
}

article h1{
    color: var(--charcoal);
}

article p{
    color: var(--charcoal);
}

article h1:hover{
    color: var(--navyBlue);

}

.body-cnt button{
    background-color: var(--navyBlue);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.body-cnt button:hover{

    box-shadow: 0 0 10px 5px rgba(13, 23, 56, 0.50);
    background-color: #22408c;
}


