@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lightGray: #eeeeee;
  --charcoal: #333333;
  --navyBlue: #0d1738;
  --lightCharcoal: #606060;
  --mutedGold: #b8a14f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scroll-behavior: smooth;
}



