@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lightGray: #F5F5F5;
  --charcoal: #333333;
  --navyBlue: #0d1738;
  --lightCharcoal: #606060;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


